<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.research.apemapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApemApp.Terang">
        <activity android:name=".profile.UpdateProfileActivity"></activity>
        <activity android:name=".profile.DeveloperProfileActivity" />
        <activity android:name=".profile.Alarm.DestinationActivity" />
        <activity android:name=".profile.Alarm.AlarmActivity" />
        <activity
            android:name=".home.OnlineCompiler.OnlineCompilerActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".quiz.ArrayQuizListActivity" />
        <activity android:name=".quiz.ResultQuizActivity" />
        <activity android:name=".quiz.LoopingQuizListActivity" />
        <activity android:name=".dictionary.DictionaryDetailListActivity" />
        <activity
            android:name=".dictionary.DictionaryListActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".activity.on_boarding1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.SignUpActivity" />
        <activity android:name=".auth.SignInActivity" />

        <receiver android:name=".profile.Alarm.AlarmReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>